* {
  margin: 0;
  padding: 0;

}

#diamond_btn{
  cursor: pointer;
  width: 150px;
  height: 160px;
  font-size: larger;
  position: absolute;
  left: 600px;
  top: 325px;
}

#statusText{
  font-size:large;
  position: absolute;
  left: 600px;
  top: 200px;
}
#sidebar{
  position: absolute;
  width: 300px;
  height: 275;
  background: #000;
  left: -300px;
  top: 190px;
  transition: .4s;
  
}
#sidebar.active{
  left: 0;
  
}
#sidebar ul li{
  list-style: none;
  color: #fff;
  font-size: 20px;
  padding: 20px 24px;
}

#shop_btn{
  position: absolute;
  top:
}


  


body{
  background-image: url('https://stackblitz.com/files/js-d2saxc/github/Jackson-da-Walrus/js-ClickerGame/main/images/New%20Drawing.png');
  background-size: 100%;
  
}
