



#diamond_btn{
  cursor: pointer;
  width: 150px;
  height: 160px;
  font-size: larger;
  position: absolute;
  left: 600px;
  top: 250px;
}
#pickaxe{
  cursor: pointer;
  width: 150px;
  border-width: 3px;
  position: absolute;
  left: 600px;
  top: 80px;
}
#statusText{
  font-size:large;
  position: absolute;
  left: 600px;
  top: 400px;
}


body{
  background-color: rgb(134, 131, 131);
}