* {
  margin: 0;
  padding: 0;

}

#diamond_btn{
  cursor: pointer;
  width: 150px;
  height: 130px;
  font-size: larger;
  position: absolute;
  left: 610px;
  top: 265px;
}

#statusText{
  font-size:large;
  position: absolute;
  left: 600px;
  top: 250px;
}
#Tool_bar{
  position: absolute;
  width: 245px;
  height: 700;
  background-image: url('https://stackblitz.com/files/js-d2saxc/github/Jackson-da-Walrus/js-ClickerGame/main/images/Screenshot%202023-05-06%209.42.49%20PM.png');
  background-size: 100%;
  left: -230px;
  top: 130px;
  transition: .4s;
  
}
#Tool_bar.active{
  left: 0;
  
}
#Tool_bar ul li{
  list-style: none;
  color: #fff;
  font-size: 20px;
  padding: 20px 24px;
}


#Help_bar{
  position: absolute;
  width: 245px;
  height: 700;
  background-image: url('https://stackblitz.com/files/js-d2saxc/github/Jackson-da-Walrus/js-ClickerGame/main/images/Screenshot%202023-05-06%209.42.49%20PM.png');
  background-size: 100%;
  left: -230px;
  top: 490px;
  transition: .4s;
  
}
#Help_bar.active{
  left: 0;
  
}
#Help_bar ul li{
  list-style: none;
  color: #fff;
  font-size: 20px;
  padding: 20px 24px;
}


#shop_btn{
  cursor: pointer;
  position: absolute;
  width: 150px;
  top: 59px;
}

#helper_btn{
  cursor: pointer;
  width: 145px;
  position: absolute;
  left: 0px;
  top: 419px;
}


#W_pick{
  cursor: pointer;
}
#S_pick{
  cursor: pointer;
}
#C_pick{
  cursor: pointer;
}
#U_pick{
  cursor: pointer;
}
#Geo{
  cursor: pointer;
}
#Auto_d{
  cursor: pointer;
}
#Plasma_dr{
  cursor: pointer;
}
#Diamond_pnt{
  cursor: pointer;
}
#helper_img{
  cursor: pointer;
  position: absolute;
  left: 575px;
  top: 330px;
  width: 40px;
}


  


body{
  background-image: url('https://stackblitz.com/files/js-d2saxc/github/Jackson-da-Walrus/js-ClickerGame/main/images/New%20Drawing.png');
  background-size: 100%;
  font-size: 25px;
}